{% extends 'emotion/index.html' %}

{% block jumbo_title %}Results...How'd we do?{% endblock %}
{% block jumbo_content %}{% endblock %}

{% block content %}
    <div class="container">
    {% for url, scores in images %}
        <div class="span6 offset4">
            <div class="thumbnail">
                <img class="center-block img-rounded" src="{{ url }}"/>
            </div>
            {% include "emotion/probability.html" with value=scores.happy title="Happy" %}
            {% include "emotion/probability.html" with value=scores.sad title="Sad" %}
            {% include "emotion/probability.html" with value=scores.surprised title="Surprised "%}
        </div>
    {% endfor %}
    </div>
{% endblock %}
