{% extends 'emotion/index.html' %}

{% block jumbo_title %}Here's some frames{% endblock %}
{% block jumbo_content %}{% endblock %}

{% block content %}
    {% for url, scores in images %}
        <img src="{{ url }}"/>
            <div class="row">
                <div class="col-md-6">
                        {% include "emotion/probability.html" with value=scores.happy title="Happy" %}
                        {% include "emotion/probability.html" with value=scores.sad title="Sad" %}
                        {% include "emotion/probability.html" with value=scores.surprised title="Surprised "%}
                </div>
            </div>
    {% endfor %}
{% endblock %}