{% extends 'emotion/index.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <img src="{{ url }}"/>
            <div class="row">
                <div class="col-md-6">
                        {% include "emotion/probability.html" with value=scores.happy title="Happy" %}
                        {% include "emotion/probability.html" with value=scores.sad title="Sad" %}
                        {% include "emotion/probability.html" with value=scores.surprised title="Surprised "%}
                </div>
            </div>
        </div>
    </div>
{% endblock %}